---
---

html {
  font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
}

h1, h2 {
  color: #ff7c6c;
}

h1 {
  font-size: 56px;
  letter-spacing: -2.5px;
  line-height: 1.2;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
  color: #e8e8e8;
}

h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.4;
  color: #ff7c6c;
  margin-bottom: 24px;
}

h4 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

p.intro {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
  color: #968f88;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #D4B1AF;
  background: linear-gradient(45deg, rgba(212, 177, 175, 1) 0%, rgba(228, 210, 196, 1) 35%, rgba(254, 252, 253, 1) 100%);
}

.wrapper {
  width: 1248px;
  margin: 0 auto;
}

.content-divider {
  height: 1px;
  background: #e8e8e8;
}

.nav {
  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 56px 0;
    height: 130px;
    list-style: none;

    li {
      display: inline-block;

      a {
        padding: 8px 24px;
        color: rgb(255, 124, 108);
        text-decoration: none;
        transition: color 0.187s linear;

        &:hover {
          color: rgba(255, 124, 108, 0.8);
        }

        &:active {
          color: rgba(255, 124, 108, 0.8);
        }
      }
    }
  }
}

.splash {
  display: flex;
  align-items: flex-end;
  height: calc(80vh - 154px);
  padding-bottom: 20vh;
}

.portfolio {
  margin-bottom: 96px;
}

.project {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  background: #f2f2f2;
  margin-bottom: 96px;
  min-height: 450px;
  position: relative;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
  }
  
  input:checked ~ .content {
    max-height: 10rem;
  }

  .project-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .project-content {
    padding: 56px;
    line-height: 1.6;
    color: #555;

    h4:not(:first-child) {
      margin-top: 48px;
      font-size: 24px;
    }

    h5 {
      margin-top: 24px;
    }

    ul {
      margin-bottom: 24px;
    }
  }

  .project-feature-image {
    width: 100%;
    min-height: 437px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 56px;
  }

  .project-details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 560px;
    height: 100%;
    z-index: 1;
    padding: 56px;
  }

  .project-icon {
    width: 72px;
    height: 72px;
    margin-bottom: 32px;
  }

  .project-role {
    font-size: 11px;
    font-weight: 700;
    color: rgb(255, 124, 108);
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  .project-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: #555;

    p {
      margin: 0 0 24px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .project-links {
    display: flex;
    margin-top: 32px;
  }
}

span.skill-pill {
  background: #f2aba2;
  border-radius: 24px;
  height: 24px;
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  line-height: 24px;
  margin-top: 8px;
}

.button {
  padding: 9px 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  background: #ff7c6c;
  border-radius: 4px;
  color: #fff;
  transition: background 0.187s linear;

  &:hover {
    background: darken(#ff7c6c, 5%);
  }

  &:active {
    background: darken(#ff7c6c, 15%);
  }

  & + .button {
    margin-left: 16px;
  }
}

@media screen and (max-width: 1248px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 32px;
  }

  h3.divider {
    font-size: 24px;

    &:after {
      top: 50%;
    }
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .wrapper {
    width: 960px;
  }

  .project {
    min-height: initial;
  }
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .intro {
    font-size: 18px;
  }

  h3.divider {
    margin-bottom: 48px;
  }

  .wrapper {
    width: auto;
    padding: 0 48px;
  }

  .project {
    padding: 48px;
    margin-bottom: 48px;
    height: auto;

    .project-details {
      width: auto;

      .project-icon,
      .project-role,
      .project-description {
        margin-bottom: 16px;
      }

      .project-description {
        p {
          margin-bottom: 16px;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }

  .project-feature-image {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  h3.divider {
    font-size: 16px;
    margin-bottom: 24px;

    span {
      padding-right: 16px;
    }

    &:after {
      content: '';
    }
  }

  h4 {
    font-size: 18px;
  }

  .wrapper {
    width: auto;
    padding: 0 24px;
  }

  .nav ul {
    justify-content: flex-start;
    padding: 16px 0;
    height: 100px;

    li {
      a {
        padding-left: 0;
      }
    }
  }

  .splash {
    height: auto;
    padding-bottom: 56px;
  }

  .project {
    padding: 24px;
    margin-bottom: 24px;

    .project-details {
      padding: 0;
    }

    .project-content {
      padding: 0;

      h4 {
        font-size: 18px;
        margin-top: 24px;
      }
    }
  }
}
